# Desafio: bora praticar?

Para praticar os métodos aprendidos no decorrer dessa aula e também aprender novos, vamos realizar alguns tratamentos e seleções utilizando um arquivo csv diferente: alunos.csv.

Esse arquivo é o mesmo utilizado para resolução dos desafios da aula 1 e 3 e possui dados referentes a alunos de um curso superior. Com base nisso, solucione os problemas propostos abaixo utilizando os conhecimentos adquiridos até aqui.

In [1]:
import pandas as pd

dados = pd.read_csv("arquivos/alunos.csv")
dados = dados.fillna(0)
dados.head()

    Nome  Idade  Notas  Aprovado
0    Ary     20    7.5      True
1    Ana     18    0.0     False
2  Cátia     27    2.5     False
3  Denis     18    5.0     False
4   Beto     21   10.0      True

1) Os alunos participaram de uma atividade extracurricular e ganharam pontos extras. Esses pontos extras correspondem a 40% da nota atual de cada um deles. Com base nisso, crie uma coluna chamada "Pontos_extras" que contenha os pontos extras de cada aluno, ou seja, 40% da nota atual deles.

In [2]:
dados["Pontos_extras"] = dados["Notas"] * 0.4

2) Crie mais uma coluna, chamada "Notas_finais" que possua as notas de cada aluno somada com os pontos extras.

In [3]:
dados["Notas_finais"] = dados["Notas"] + dados["Pontos_extras"]

3) Como houve uma pontuação extra, alguns alunos que não tinham sido aprovados antes podem ter sido aprovados agora. Com base nisso, crie uma coluna chamada "Aprovado_final" com os seguintes valores:

True: caso o aluno esteja aprovado (nota final deve ser maior ou igual a 6);
False: caso o aluno esteja reprovado (nota final deve ser menor que 6).

In [4]:
dados["Aprovado_final"] = dados['Notas_finais'].apply(lambda x: True if x >= 6 else False)
dados.head()

    Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais  Aprovado_final
0    Ary     20    7.5      True            3.0          10.5            True
1    Ana     18    0.0     False            0.0           0.0           False
2  Cátia     27    2.5     False            1.0           3.5           False
3  Denis     18    5.0     False            2.0           7.0            True
4   Beto     21   10.0      True            4.0          14.0            True

4) Faça uma seleção e verifique quais alunos não tinham sido aprovados anteriormente, mas foram aprovados após a soma dos pontos extras.

In [5]:
dados.query("Aprovado == False & Aprovado_final == True")

     Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais  Aprovado_final
3   Denis     18    5.0     False           2.00          7.00            True
8   Alice     35    5.6     False           2.24          7.84            True
11   Igor     24    4.5     False           1.80          6.30            True